body {

}

.mydiv {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    background-color: #f0f0f0;
    max-width: 700px;
    margin: 0 auto;
}

.exitDiv {
margin-left: 50px;
}

.my_btn {
    border-radius: 5px;
    border-color: #ff8f07;
    background-color: #ff8f07;
    margin-top: 10px;
    font-size: 18px;

}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}
